<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>username</th>
                <th>password</th>
                <th>roles</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <td th:text="${user.getId()}">1</td>
                <td th:text="${user.getFirstName()}">2</td>
                <td th:text="${user.getLastName()}">3</td>
                <td th:text="${user.getAddress()}">4</td>
                <td th:text="${user.getUsername()}">5</td>
                <td th:text="${user.getPassword()}">5</td>
                <td>
                    <table>
                        <tr th:each="role:${user.getRoles()}">
                            <td th:text="${role.getAuthority()}"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <a href="#" th:text="edit" th:unless="${#auto}"
                       th:href="@{user-update/{id}(id=${user.getId()})}"></a>
                    <a href="#" th:text="delete" th:href="@{user-delete/{id}(id=${user.getId()})}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <table>
        <td>
            <a href="#" th:text="Createuser" th:href="@{user-create}"></a>
        </td>
    </table>
</div>
<div>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>