<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
<div th:switch="${user}">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>username</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getId()}">1</td>
            <td th:text="${user.getFirstName()}">2</td>
            <td th:text="${user.getLastName()}">3</td>
            <td th:text="${user.getAddress()}">4</td>
            <td th:text="${user.getUsername()}">5</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>